/[Ll]ibrary/
/[Tt]emp/
**/[Oo]bj/
**/[Bb]in/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/artifacts/
/TestResults/
/*.csproj
/*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
.vscode/
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.log
crashlytics-build.properties
